#out
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: .3rem;
    margin-left: 15rem;
    margin-top: 5rem;
}
h1
{
    text-align: center;
}
.container
{
    border: 2px #b123 solid;
    width: 40%;
    text-align: center;
    border-radius: 15px;
}
.container .img
{
    width: 80%;
}
.pokemon-name
{
    font-weight: 600;
    text-transform:uppercase ;
}
body
{
    background-color: rgb(227, 172, 190);
}

